.form {
  background-color: #1c2425;
  margin-bottom: 50px;
  padding: 30px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.searchFormInput {
  padding: 15px 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 50%;
  max-width: 700px;
  border: none;
}

.button {
  padding: 15px 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 10%;
  min-width: 50px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

.button:hover,
.button:focus {
  background-color: #d6dee4;
}

.button:hover,
.button:focus,
.searchFormInput:hover,
.searchFormInput:focus {
  outline: none;
}
